*
{
    box-sizing: border-box;
}

.container
{
    display: flex;    
    align-items: center;
    justify-content: center;
    height: 100vh;    
}

.box
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    width: 400px;   
    padding: 15px;
    margin: 10px; 
    -webkit-box-shadow: 3px 4px 33px -3px rgba(0,0,0,0.85); 
    box-shadow: 3px 4px 33px -3px rgba(0,0,0,0.85);
}

h2{
    margin: 0;
}

.bottom
{
    display: flex;
    justify-content: space-between;
}



